<div class = 'footer'>
  <div class="footer__container">
    <div class="footer__nav">
      <div class="footer__primary">
        <ul class="footer__navilist">
          <li class="footer__navilist__heading">
            <a href="#" class="footer__about">ABOUT</a>
          </li>
          <br>
          <li class="footer__navilist__item">
            <a href="#" class="footeritem">WHY CHOOSE</a>
          </li>
          <br>
          <li class="footer__navilist__item">
            <a href="#" class="footeritem">MOVIE</a>
          </li>
          <br>
          <li class="footer__navilist__item">
            <a href="#" class="footeritem">ATHLETE</a>
          </li>
        </ul>
        <ul class="footer__navilist">
          <li class="footer__navilist__heading">
            <a href="#" class="footer__about">PRODUCTS</a>
          </li>
          <br>
          <li class="footer__navilist__item">
            <a href="#" class="footeritem">BODY MAKE</a>
          </li>
          <br>
          <li class="footer__navilist__item">
            <a href="#" class="footeritem">BODY SHAPE</a>
          </li>
          <br>
          <li class="footer__navilist__item">
            <a href="#" class="footeritem">ABOUT PROTEIN</a>
          </li>
        </ul>
      </div>
      <div class="footer__buyBtn">
        <a href="https://www.meiji.co.jp/sports/savas/" class="buttonnn">Purchace</a>
      </div>
      <div class="footer__secondary">
        <ul class="sns_groups__lists">
          <a href="#">
            <li class="sns_groups__list"> 
              <i class="fab ff fa-twitter"></i>
            </li>
          </a>
          <a href="#">
            <li class="sns_groups__list"> 
              <i class="fab ff fa-instagram"></i>
            </li>
          </a>
          <a href="#">
            <li class="sns_groups__list"> 
              <i class="fab ff fa-facebook-square"></i>
            </li>
          </a>
        </ul>
      </div>
    </div>
    <div class="footer__pageTop">

    </div>
    
  </div>
  <div class="isPC"></div>
</div>