<div class = 'headder'>
  <div class = 'headder__content'>
    <div class = 'headder__logo'>
      <a href="/" class="backtop">
        <img src="assets/logo.png" alt="topas" class="imgtop">
      </a>
    </div>
    <!-- <div class ='headder__menu'>
      <button type ='button' class = 'headder__menu__btn'></button>
    </div> -->
  </div>
  <div class = 'headder__nav'>
    <ul class = "headder-ul">
      <li class="global_headder_nav-top"><a href="/" class="icon_arw font-en is-current">TOP</a></li>
      <li class="global_headder_nav-top" ><a href="/abouts" class="icon_arw font-en is-current">ABOUT</a></li>
      <li class="global_headder_nav-top" ><a href="#" class="icon_arw font-en is-current">PRODUCTS</a></li>
      <li class="global_headder_nav-top" ><a href="#" class="icon_arw font-en is-current">SECRET</a></li>
    </ul>
    <a class="btn right-btn" href="#"><span>Purchase</span><span>Click</span>
    </a>
  </div>
</div>