<html>
  <head>

  </head>
  <body>
    <div class = 'headder'>
      <div class = 'header__content'>
        <div class = 'header__logo'>
          <a href="/" class="backtop">
            <img src="assets/logo.png" alt="topas" class="imgtop">
          </a>
        </div>
        <div class ='header__menu'>
          <button type ='button' class = 'header__menu__btn'></button>
        </div>
      </div>
      <div class = 'header__nav'>
        <ul class = "header-ul">
          <li class="global_header_nav-top"><a href="#" class="icon_arw font-en is-current">TOP</a></li>
          <li class="global_header_nav-top" ><a href="#" class="icon_arw font-en is-current">ABOUT</a></li>
          <li class="global_header_nav-top" ><a href="#" class="icon_arw font-en is-current">PRODUCTS</a></li>
          <li class="global_header_nav-top" ><a href="#" class="icon_arw font-en is-current">SECRET</a></li>
        </ul>
        <a class="btn right-btn" href="#"><span>Purchase</span><span>Click</span>
        </a>
      </div>
    </div>
    <div class = 'main-container'>
      <div class="hero">
        <ul class="slider">
          <li><a href="#"><img src="assets/MG_0421_new.jpg" alt="image01" class="toppic"></a></li>
          <li><a href="#"><img src="assets/MG_5314_11698.jpg" alt="image02" class="toppic"></a></li>
          <li><a href="#"><img src="assets/MG_5903_new1.jpg" alt="image03" class="toppic"></a></li>
          <li><a href="#"><img src="assets/Brooklyn-Bridge.jpg" alt="image04" class="toppic"></a></li>
        </ul>
      </div>
      <div class="news_feed">
        <h2 class="news_feed__heading">NEWS </h2>
        <div class="news_feed__line">|</div>
        <div class="news_feed__content">2020/01/12 Renewal open TOPAS site </div>
      </div>
      <div class="lineup-content">
        <h2 class="lineup-content__heading">
            products lineup
          <br>
          <small class="lineup-content__sub">~ SEASON ~</small>
        </h2>
        
        
        <ul class="lineup_lists">
          <li class="lineup_list">
            <a href="#">
              <figure>
                <picture>
                  <img src="assets/spring.jpg" alt="simple__picture" class="simplepic">
                </picture>
              </figure>
              <div class="lineup_list__detail">
                <p class="">
                  <img src="#" alt="" class="">
                </p>
                <p class="lineup_list__detail__title">Spring
                  <small></small>
                </p>
              </div>
            </a>
          </li>
          <li class="lineup_list">
            <a href="#">
              <figure>
                <picture>
                  <img src="assets/bg_top02.jpg" alt="simple__picture" class="simplepic">
                </picture>
              </figure>
              <div class="lineup_list__detail">
                <p class="">
                  <img src="#" alt="" class="">
                </p>
                <p class="lineup_list__detail__title">Summer
                  <small></small>
                </p>
              </div>
            </a>
          </li>
          <li class="lineup_list">
            <a href="#">
              <figure>
                <picture>
                  <img src="assets/fall.png" alt="simple__picture" class="simplepic">
                </picture>
              </figure>
              <div class="lineup_list__detail">
                <p class="">
                  <img src="#" alt="" class="">
                </p>
                <p class="lineup_list__detail__title">Autumn
                  <small></small>
                </p>
              </div>
            </a>
          </li>
          <li class="lineup_list">
            <a href="#">
              <figure>
                <picture>
                  <img src="assets/winter.jpg" alt="simple__picture" class="simplepic">
                </picture>
              </figure>
              <div class="lineup_list__detail">
                <p class="">
                  <img src="#" alt="" class="">
                </p>
                <p class="lineup_list__detail__title">Winter
                  <small></small>
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="about-content">
        <h2 class="about-content__heading">
          ABOUT
          <br>
          <small class="about-content__sub">~ about TOPAS ~ </small>
        </h2>
        <div class="about_movie">
          <iframe class="stbtube" width="1304" height="500" src="https://www.youtube.com/embed/eylcZr7o0zs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="about_movie__btn">
            <a href="#" class="m-btn">
              <i class="button m-btn__mask">MOVIE TOP</i>
            </a>
          </p>
        </div>
      </div>
      <article class="sns_groups">
        <div class="sns_groups__container">
          <h4 class="sns_groups__heading">
            SNS
          </h4>
          <ul class="sns_groups__lists">
            <a href="#">
              <li class="sns_groups__list"> 
                <i class="fab fa-twitter">
                </i>
              </li>
            </a>
            <a href="#">
              <li class="sns_groups__list"> 
                <i class="fab fa-instagram"></i>
              </li>
            </a>
            <a href="#">
              <li class="sns_groups__list"> 
                <i class="fab fa-facebook-square"></i>
              </li>
            </a>
          </ul>
        </div>
      </article>
      
    </div>
    <div class = 'footer'>
      <div class="footer__container">
        <div class="footer__nav">
          <div class="footer__primary">
          
          </div>
          <div class="footer__buyBtn">

          </div>
          <div class="footer__secondary">

          </div>
        </div>
        <div class="footer__pageTop">

        </div>
        
      </div>
      <div class="isPC"></div>
    </div>
  </body>
  
</html>

