<!DOCTYPE html>
<html>
  <head>
    <title>ABOUT | TOPAS</title>
  </head>
  <body>
  <div class="aboutpage">
    <%= render 'homes/header' %>
    <div class="content_container">  
      <div class="main-container">
        <section class="top-container">
          <h1 class="about_logo">
            <img src="assets/logo.png" alt="">
          </h1>
          <h2 class="about_copy">
            DESIGN YOUR BODY
          </h2>
          <div class="about_txtarea">
            <p class="sentence">プロテインは、<br>人のためにどこまで進化できるだろう。</p>
            <p class="sentence">これからも、人々の挑戦を引っ張っていけるように。<br>もっと、一人一人のカラダに応えられるように。</p>
            <p class="sentence">トパスは、<br>40年にわたってアスリートのカラダづくりを<br class="u-hidden-md-up">支えてきた<br class="u-hidden-sm-down">プロテイン研究をさらに突きつめ、<br class="u-hidden-md-up">4つのシリーズを開発。</p>
            <p class="sentence">トップアスリートのための、<br class="u-hidden-md-up">PRO。<br>勝利を掴みたい人のための、<br class="u-hidden-md-up">ATHLETE。<br>たくましいカラダを求める人のための、<br class="u-hidden-md-up">BODY MAKE。<br>引き締まったカラダを目指す人のための、<br class="u-hidden-md-up">BODY SHAPE。</p>
            <p class="sentence">それぞれの目標に合わせて、<br class="u-hidden-md-up">効率的にカラダを導いていく。</p>
            <p class="sentence">すべての人に、カラダづくりの自由を。<br>さあ、思いのままに。<br>なりたいカラダを、自分を。明日を。つくろう。</p>
          </div>
          <div class="about_brand"></div>
        </section>
        <nav class="about_nav">

        </nav>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="pastlist" href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Abouts</li>
          </ol>
        </nav>
      </div>
      <%= render 'homes/footer' %>
    </div>
  </div>
  </body>
</html>