.btn {
  display: inline-block;                                       
  height: 60px;                    
  text-align: center;              
  line-height: 48px;               
}
.btn span {
  display: block;                 
  position: absolute;              
  text-align: center;
  width: 100px;                     
  height: 50px;                   
  border: 2px solid #333;          
  transform-style: preserve-3d;    
  transition: 0.5s;   
}
.btn span:nth-child(1) {
  background-color: #ffffff;   
  color: #000000;          
  transform: rotateX(0deg);        
  transform-origin: 0 50%  -30px;  
}
.btn span:nth-child(2) {
  background-color: #000000;   
  color: #ffffff;         
  transform: rotateX(90deg);      
  transform-origin: 0 50%  -30px; 
}
.btn:hover span:nth-child(1) {
  transform: rotateX(-90deg);      
}
.btn:hover span:nth-child(2) {
  transform: rotateX(0deg);        
}


.button {
  display: inline-block;
  width: 200px;
  height: 48px;
  text-align: center;
  text-decoration: none;
  line-height: 48px;
  outline: none;
  position: relative;
  z-index: 2;
  border: 2px solid #333;
  color: #fff;
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.button::before,
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.button,
.button::before,
.button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.button:hover {
  color: #333;
}
.button::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
}
.button:hover::after {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.buttonnn {
  border-radius: 25px;
  text-decoration: none;
  position: absolute;
  right: 0;
  display       : inline-block;
  font-size     : 18pt;        
  text-align    : center;      
  cursor        : pointer;    
  padding       : 9px 9px;   
  color         : black;     
  background    : #ffffff;    
  line-height   : 1em;         
  transition    : .3s;        
  border: 3px solid #666666;
  
}
.buttonnn:hover {
  box-shadow    : none;        
  
  background    : #666666;     
  color         : #ffffff;    
}