*{
  box-sizing: border-box;
}

html{ 
  height: 3090px;
  width: 100%;
}

body{ 
  height: 100%;
  width: 100%;
}
.wrapper{
  height: 100%;
  width: 100%;
}

ul{
  display: flex;
  
}
.icon_arw{
  margin: 0 20px;
  display: block;
  position: relative;
  padding: 0px 0 31px;
  color: #000;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1;
}

.headder{
  height: 80px;
  background-color: #e5e5e5;
  display: flex;
  transition: transform 0.35s;
  z-index: 3;
  &__content{
    width: 270px;
  }
  &__nav{
    display: flex;
    padding: 30px 150px 0 90px;
    height:100%;
    width: 100%;
    position: relative;
  }
  &__logo{
    width: 270px;
  }
}

a{
  text-decoration: none;
}
  
span{
  float: right;
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  text-align: center;
}

.right-btn{
  width: 100px;
  position: absolute;
  right: 30px;
  top: 18px;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2.8;
}


.header-menu{
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px 20px;
  width: 25px;
  height: 19px;
}
.header-ul{
  padding: 18px 50px 0 400px;
}
.imgtop{
  width: 240px;
  height: 80px;
  margin-left: 30px;
}

@media screen and (max-width: 970px){
  .headder-ul {
    display:none;
  }
  .buttonnn{
    display: none !important;
  } 
}
